*
{
	margin: 0;
	outline: none;
	padding: 0;
	text-align: center;
}

button
{
	border: none;
	display: block;
	float: left;
	margin: 0 auto;
	overflow: hidden;
	width: calc(100vw / 12);
}

.Black
{
	background: Black;
	color: White;
	height: 100vh;
}

.White
{
	background: White;
	color: Black;
	height: 100vh;
}
